<div ng-if="!is404">
	<h1 ng-bind-html="post.title.rendered"></h1>
	<slick dots="true" autoplay="true" slides-to-show="1" slides-to-scroll="1" init-onload="true" data="media" style="width:300px">
		<div ng-if="image.is_image" ng-repeat="image in media">
			<img alt="{{image.title.rendered}}" ng-src="{{image.media_details.sizes.medium.source_url}}" />
		</div>
	</slick>
	<div ng-bind-html="post.content.rendered"></div>
</div>
<div ng-if="is404">
	<h1>Page Not Found</h1>
	<p>{{errorMessage}}</p>
</div>