<say-hello></say-hello>
<search-form></search-form>
<p>Categories:</p>
<ul>
	<li ng-repeat="category in data.categories">
		<span ng-if="current_category_id && category.id == current_category_id" ng-bind-html="category.name"></span>
		<a ng-if="!current_category_id || category.id != current_category_id" href="category/{{category.slug}}" ng-bind-html="category.name"></a>
	</li>
</ul>
<p>{{data.pageTitle}}</p>
<ul>
	<li ng-repeat="post in data.posts">
		<a href="blog/{{post.id}}" ng-bind-html="post.title.rendered"></a>
		<a href="blog/{{post.id}}" ng-if="post.featured_image_thumbnail_url"><img ng-src="{{post.featured_image_thumbnail_url}}" alt="{{post.featured_image.title.rendered}}" /></a>
		<div ng-bind-html="post.excerpt.rendered"></div>
	</li>
</ul>
<p ng-if="is404">{{errorMessage}}</p>
<posts-nav-link prev-label="&laquo; Previous Page" next-label="Next Page &raquo;"></posts-nav-link>

<br />